* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0;
  font-family: var(--font-secondary);
  --font-main: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --dark-red: #fb2121;
  --white: #eee;
  --black: #222;
  --blue: #1a4093;
}

html {
  background: var(--black);
  color: var(--white);
  scroll-padding-top: 5rem;
}
#services section {
  opacity: 0;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 250ms ease-in;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
      

h1, h2, h3, h4, h5 {
  font-family: var(--font-main);
}

/* Animations /*/


.activeElement {
  opacity: 1;
}

/* Navbar */

.navbar {
  background-color: var(--black);
  height: 80px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 99;
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  background: linear-gradient(rgb(8, 8, 8), rgb(5, 5, 5), rgb(2, 2, 2));
}

#navbar__logo {
  background-color: var(--dark-red);
  background-image: linear-gradient(to top, #ff0846db 0%rgb(255, 181, 159)99 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;

}

.main__content hr {
  border: 1px solid rgb(211, 20, 20);
  border-radius: ;
  width: 85%;
  margin-top: 2px;
  background: none;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  text-overflow: none;
}


.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: radial-gradient(#b90230 0%, #741b00 100%);
  color: #ffff;
  text-shadow: 2px 2px var(--black);
}

.button:hover {
  background: radial-gradient(var(--blue) 0%, #07276d) 100%;
  transition: 0.3s ease;
}

.navbar__links:hover {
  color: #b90230;
  transition: all 0.3s ease;
  text-shadow: 1px 1px #741b00;
}

@media screen and (max-width: 760px) {
  .navbar__container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 80px;
    z-index: 99;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .main__img {
    width: 400px;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 99;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
    z-index: 99;
  }

  .navbar__toggle .bar {
    width: 30px;
    height: 5px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
  }

  .navbar__item {
    width: 100%;
    z-index: 90;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    z-index: 99;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu .is-active .bar:nth-child(2) {
    opacity: 1;
    top: 10%;
  }

  #mobile-menu .is-active .bar:nth-child(1) {
    transform: translate(8px) rotate(45deg);
  }

  #mobile-menu .is-active .bar:nth-child(3) {
    transform: translate(-8px) rotate(-45deg);
  }

  #mobile-menu .is-active .bar {
    z-index: 99;
  }
}

/* Hero Section */

.main {
  background-color: var(--black);
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: var(--black);
  width: 100%;
  padding: 0 20px;
}

.main__content h1 {
  font-family: var(--font-main);
  font-size: 4rem;
  background-color: var(--dark-red);
  background-image: linear-gradient(to top, #ff0846db 0%rgb(255, 181, 159)99 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: 1s ease-in bounce;
}

.main__content h2 {
  font-family: var(--font-main);
  font-size: 2.5rem;
  background-color: #4b82f7;
  background-image: linear-gradient(to top, var(--blue) 0%, #0755ff) 100%;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding-top: 1rem;
}

.main__content p {
  font-family: var(--font-secondary);
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 200;
}

.main__btn {
  font-size: 1.2rem;
  background-image: radial-gradient(#b90230 0%, #741b00 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: var(--white);
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-shadow: 2px 2px var(--black);
  box-shadow: 10px 5px 5px (--black);

}

.main__btn a {
  position: relative;
  z-index: 2;
  color: var(--white);
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: radial-gradient(var(--blue) 0%, #07276d) 100%;
  transition: all 0.35s;
  border-radius: 4px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.main__btn:hover {
  color: var(--white);
}

.main__btn:hover:after {
  width: 100%;
}

.main_img--container {
  text-align: center;
}

.main__img {
  width: 400px;
  animation: 1.2s ease slideDown;
}

@keyframes slideDown {
  0% {
    transform: translatey(-100%);
  }

  100% {
    transform: translatey(0);
  }
}

@keyframes bounce {
  0% {
    transform: translatey(-100%);
  }

  20% {
    transform: translatey(0);
  }

  40% {
    transform: translatey(-50%);
  }

  60% {
    transform: translatey(0);
  }

  80% {
    transform: translatey(-25%);
  }

  100% {
    transform: translatey(0);
  }
}

/* Mobile Responsive */

@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
  }

  .main__content {
    text-align: center;
    margin-bottom: 2rem;
  }

  .main__content h1 {
    font-size: 4rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 0rem;
    font-size: 2rem;
  }

  
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .main__content h2 {
    font-size: 1.5rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 3rem 0;
  }

  .main__img {
    width: 370px;
 
  }
}

/* About Us */

.intro1 {
  text-align: center;
}

.grid__intro {
  color: red;
}


.grid__container {
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  padding-left: 50px;
}

.grid__fr {
  display: table-cell;
  text-align: center;
  min-height: 300px;


}

.service__card {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/assets/images/image2.png');
  background-size: cover;
  margin: .7rem 1rem;
  height: 400px;
  width: 300px;
  border: solid 4px #741b00;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  transition: all .2s ease-in-out;
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
}
#service2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/assets/images/image4.png');
  background-size: cover;
  margin: 1rem 1rem;
  height: 400px;
  width: 300px;
  border: solid 4px #741b00;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  transition: all .2s ease-in-out;
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
}
#service3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/assets/images/image5.jpg');
  background-size: cover;
  margin: 1rem 1rem;
  height: 400px;
  width: 300px;
  border: solid 4px #741b00;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  transition: all .2s ease-in-out;
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
}

#service2:hover, #service3:hover, .service__card:hover {
  transform: scale(1.1);
  border: solid 5px var(--blue);
  border-radius: 10px;
  box-shadow: 10px 10px black;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.service__card .service__button {
  background: radial-gradient(#b90230 0%, #741b00 100%);
}
.service__card:hover .service__button {
  background: radial-gradient(var(--blue) 0%, #07276d) 100%;
  transition: all .25s ease-in-out;
}


.grid__fr h1 {
  padding-top: 190px;
  color: white;
  text-shadow: 1.5px 1.5px black;
  font-size: 2rem;
}

.grid__fr p {
  padding: 10px 10px;
  color: white;
  text-shadow: 1px 1px black;
}

.grid__button {
  font-size: 1rem;
  margin: 3rem 4rem;
  padding: .5rem .5rem;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px black;
  background-image: radial-gradient(#b90230 0%, #741b00 100%);
}


.service__card:hover button {
  background: radial-gradient(var(--blue) 0%, #07276d) 100%;
  transition: all 2s ease-in-out;
  cursor: pointer;
  transform: scale(1.0)
}

@media screen and (max-width: 780px) {

  .grid__head {
    margin-top: 23rem;
  }
  .grid__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
  }

  .grid__fr {
    display: flex;
    margin-left: 1rem
  }

  hr {
    opacity: 0;
  }
}

#hero hr {
  border: 1px 0
}

.heading {
  text-align: center;
  font-family: var(--font-main);
  font-size: 2rem;
 text-shadow: 2px 2px black;
  
}
.page__div {
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  margin: 3rem;
  box-shadow: 1px 1px black;
}

@media screen and (max-width: 480px) {
  .grid__head {
    margin-top: 23rem;
  }
  .grid__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid__fr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  hr {
    opacity: 0;
  }
}
}

/* About Us */

#aboutUs {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem 5rem;
  min-width: 70vw;
}

.aboutUs__container {
  display: flex;
}

.aboutUs__container h1 {
  
}

.aboutUs__container p {

}

.aboutFlex__container {
  display: flex;
  flex-direction: row-reverse;
} 

.about_flexA {
  flex: 1;
}

.about_flexA h3 {
  text-shadow: 2px 2px black;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.about_flexB {
  flex: 2;
  padding: 1rem 0rem;
}

.about_flexB h3 {
  padding-bottom: 2rem;
  font-size: 2rem;
  text-shadow: 2px 2px black;
}

#about__img {
  max-width: 600px;
  max-height: 600px;
  border: solid 5px #741b00;
  border-radius: 10px;
  box-shadow: 7px 7px black;
  transition: all .2s ease-in-out;
  box-sizing: content-box;
}

#about__img:hover {

  transform: scale(1.1);
  border: solid 6px var(--blue);
  border-radius: 10px;
  box-shadow: 12px 12px black;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .aboutFlex__container {
    display: flex;
    flex-direction: column-reverse;
   
  }
  #about__img {
    max-width: 370px;
    max-height: 370px;
    border: solid 5px #741b00;
    border-radius: 10px;
    box-shadow: 7px 7px black;
    transition: all .2s ease-in-out;
    box-sizing: content-box;
}
.about_flexA {
  margin-left: 1rem;
} 
}






.portfolio__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin-left: 25vw;
}

.portfolio__fr {
  display: flex;
  margin-left: 1rem
}




.portfolio__project {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/assets/images/image6.jpg');
  background-size: cover;
  margin: 1.5rem 1rem;
  height: 400px;
  width: 600px;
  border: solid 4px #741b00;
  border-radius: 10px;
  box-shadow: 6px 6px black;
  transition: all .2s ease-in-out;
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
}
#project2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/assets/images/image7.jpg');
  background-size: cover;
  margin: 3rem 1rem;
  height: 400px;
  width: 600px;
  border: solid 4px #741b00;
  border-radius: 10px;
  box-shadow: 6px 6px black;
  transition: all .2s ease-in-out;
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
}
#project3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/assets/images/image8.jpg');
  background-size: cover;
  margin: 3rem 1rem;
  height: 400px;
  width: 600px;
  border: solid 4px #741b00;
  border-radius: 10px;
  box-shadow: 6px 6px black;
  transition: all .2s ease-in-out;
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
}

#project2:hover, #project3:hover, .portfolio__project:hover {
  transform: scale(1.1);
  border: solid 5px var(--blue);
  border-radius: 10px;
  box-shadow: 10px 10px black;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.portfolio__project .portfolio__button {
  background: radial-gradient(#b90230 0%, #741b00 100%);
}
.portfolio__project:hover .portfolio__button {
  background: radial-gradient(var(--blue) 0%, #07276d) 100%;
  transition: all .25s ease-in-out;
}
#project3:hover .portfolio__button {
  background: radial-gradient(var(--blue) 0%, #07276d) 100%;
  transition: all .25s ease-in-out;
}


.portfolio__fr h1 {
  padding-top: 190px;
  color: white;
  text-shadow: 1.5px 1.5px black;
  font-size: 2rem;
}

.portfolio__fr p {
  padding: 10px 10px;
  color: white;
  text-shadow: 1px 1px black;
}

.portfolio__button {
  font-size: 1rem;
  margin: 3rem 4rem;
  padding: .5rem .5rem;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px black;
  background-image: radial-gradient(#b90230 0%, #741b00 100%);
}


.portfolio__project:hover button {
  background: radial-gradient(var(--blue) 0%, #07276d) 100%;
  transition: all 2s ease-in-out;
  cursor: pointer;
  transform: scale(1.0)
}

@media screen and (max-width: 780px) {

  .portfolio__head {
    margin-top: 23rem;
  }
  .portfolio__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
  }

  .portfolio__fr {
    display: flex;
    margin-left: 1rem
  }

  hr {
    opacity: 0;
  }
}

 /* Social */ 


 footer {
  text-align: center;
  font-size: 3rem;
  color: #b90230
 
 }
 li {
  display: inline-block;
  padding: 0 1rem;
  padding-bottom: 1rem;
 }

 footer li:hover {
  color: var(--blue)
 }